#           BATCH INIT VIA API (IN FISH):
#   gh_batch_api_init_org_repos /z/750/dot/repos kairuku-dotfiles-pseudo-org
#···············································································

/closed
